@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@800&display=swap');


.Nav {
  background-color: #B05C54;
}
.flex-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

